{% extends "base.html" %}

{% block title %}List of Apps{% endblock %}

{% block extra_css %}
    <!-- Specific CSS for this page -->
{% endblock %}

{% block content %}
    <h2>App List</h2>
    <ul>
        {% for app in apps %}
            <li>
                <a href="{% url 'app_detail' app.pk %}">{{ app.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'app_create' %}">Add New App</a>
{% endblock %}

{% block extra_js %}
    <!-- Specific JS for this page -->
    <script src="app_list.js"></script>
{% endblock %}
