{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="color-scheme" content="dark">
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DevDossier{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <link rel="stylesheet" href="{% static 'css/water-css-addendum-classless.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/water-css-addendum-forms.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/water-css-addendum-navigation.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/water-css-addendum-spacing.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/water-css-addendum-text.css' %}" type="text/css">

    {% block extra_css %}{% endblock %}
</head>
<body>
<header>DevDossier</header>
<nav class="top-navbar">
    <div>
        <a class="navlinks" href="{% url 'app_list' %}">Display Apps</a>
    </div>
</nav>

<main class="container mt-4">
    {% block content %}{% endblock %}
</main>

<script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>
{% block extra_js %}{% endblock %}

</body>
</html>
