{% extends "base.html" %}
{% block extra_css %}
{% endblock %}

{% block content %}

    <div class="spacer-mid">
        <span class="typography-primary">App name: {{ app.name }}</span>
        <form class="form-inline" method="get" action="{% url 'app_edit' app.pk %}">
            <button class="action-link edit" type="submit">Edit App</button>
        </form>
        <form class="form-inline" method="post" action="{% url 'app_delete' app.pk %}">
            {% csrf_token %}
            <form class="form-inline" method="post"
                  action="{% url 'app_delete' app.pk %}">
                {% csrf_token %}
                <button class="action-link delete" type="submit"
                        onclick="return confirm('Are you sure you want to delete this app?');">
                    Delete App
                </button>
            </form>
        </form>
    </div>
    <hr/>
    <div class="typography-secondary">
        <strong>Description: </strong>
        <span>{{ app.description }}</span>
    </div>
    <div class="separate">
        <h3>Entries for this App:</h3>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in entries %}
                <tr>
                    <td><strong>
                        <a href="{% url 'entry_detail' app.pk entry.pk %}">
                            {{ entry.title }}
                        </a>
                    </strong></td>
                    <td>{{ entry.description }}</td>
                    <td>
                        {% if app.pk and entry.pk %}
                            <form class="form-inline" method="get" action="{% url 'entry_edit' app.pk entry.pk %}">
                                <button class="action-link edit" type="submit">Edit</button>
                            </form>
                            <form class="form-inline" method="post" action="{% url 'entry_delete' app.pk entry.pk %}">
                                {% csrf_token %}
                                <form class="form-inline" method="post"
                                      action="{% url 'entry_delete' app.pk entry.pk %}">
                                    {% csrf_token %}
                                    <button class="action-link delete" type="submit"
                                            onclick="return confirm('Are you sure you want to delete this entry?');">
                                        Delete
                                    </button>
                                </form>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr/>
        <button onclick="location.href='{% url 'entry_create_for_app' app.pk %}';">Add New Entry for this App</button>
        <button class="secondary-button" onclick="location.href={% url 'app_list' %};">Back to App List</button>
    </div>
{% endblock %}
