{% extends "base.html" %}

{% block title %}List of Apps{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <article class="separate">
        <h2 class="centered">App List</h2>
        <table>
            <thead>
                <tr>
                    <th>App Name</th>
                </tr>
            </thead>
            <tbody>
                {% for app in apps %}
                    <tr>
                        <td><a href="{% url 'app_detail' app.pk %}">{{ app.name }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button onclick="location.href='{% url 'app_create' %}';">Add New App</button>
    </article>
{% endblock %}

{% block extra_js %}
    <script src="app_list.js"></script>
{% endblock %}
