{% extends 'base.html' %}

{% block content %}
    <h2>{{ entry.title }}</h2>

    <p>{{ entry.description }}</p>
    <p>Created by: {{ entry.createdBy }}</p>
    <p>Status: {{ entry.status }}</p>
    <p>Priority: {{ entry.priority }}</p>

    <a href="{% url 'entry_edit' app_pk entry.pk %}">Edit</a> |
    <a href="{% url 'entry_delete' app_pk entry.pk %}"
       onclick="return confirm('Are you sure you want to delete this entry?')">Delete</a> |
    <a href="{% url 'app_detail' app_pk %}">Back to App Details</a> |
        <a href="{% url 'add_comment' app_pk entry.pk %}">Add Comment</a>


    <h3>Comments:</h3>
    {% for comment in entry.comments.all %}
        <div class="comment">
            <p>{{ comment.body }}</p>
            <small>By: {{ comment.createdBy }}</small>
            {% for tag in entry.tags.all %}
                <span style="background-color: {{ tag.tagColor }};">{{ tag.tagString }}</span>
            {% endfor %}
            {% if comment.attachment %}
            <img src="{{ comment.attachment.filePath }}" alt="Attachment Image">
            {% endif %}
        </div>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}
{% endblock %}
