{% extends 'base.html' %}

{% block content %}
    <div class="form-container-one-column">
        <h2>{% if form.instance.pk %}Edit Entry{% else %}Create New Entry{% endif %}</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p>App: {{ app.name }}</p>
            <button type="submit">Save</button>
            {% if app %}
                <a class="secondary-button" href="{% url 'app_detail' app.pk %}">Back to App Details</a>
            {% endif %}
        </form>
    </div>
{% endblock %}