{% extends 'base.html' %}

{% block content %}
    <h2>All Entries</h2>

    <ul>
        {% for entry in entries %}
            <li>
                <strong><a href="{% url 'entry_detail' app_pk entry.pk %}">{{ entry.title }}</a></strong>
                - {{ entry.description }}
            </li>
        {% empty %}
            <li>No entries here.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'entry_create_for_app' app_pk %}">Add New Entry for this App</a>
    <a href="{% url 'app_detail' app_pk %}">Back to App Details</a>
{% endblock %}